name: Deploy Admin Panel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Linux Server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /root/AIRAVAT
            git pull origin main

            # Install dependencies
            npm install

            # Restart cleanly
            pm2 stop airavat-app || true
            pm2 delete airavat-app || true

            # Start using npm start (from package.json)
            pm2 start npm --name "airavat-app" -- start

            # Save process list
            pm2 save
